input.email {
    background-color: #d8d8d8;
    border: 4px solid #858585;
    border-radius: 10px;
    font-size: 24px;
    margin: 20px 0;
    padding: 10px 20px;
}

textarea.textmail {
    background-color: #d8d8d8;
    border: 4px solid #858585;
    border-radius: 10px;
    display: inline;
    font-size: 24px;
    margin:  0;
    padding: 10px 10px;
}


form {
    border-radius: 2px;
    border: 4px solid white;
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    border: 2px solid #c3c3c3;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    border: 2px solid #636363;
}

input:focus {
    border: 4px solid #858585;
}

h2 {
    margin: 0;
}

div {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 700px){ 

    textarea.textmail {
        font-size: 1.5em;
    }

}