div.banner {
    display: flex;
    max-width: 100%;
    padding: 10px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
}
.banner img {
    max-width: 100%;
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.banner section{
    padding: 140px;
    
} 


div p {
    font-size: 1.2em;
    text-align: center;
} 

@media screen and (max-width: 860px){

    div.banner {
        display: block;
        text-align: center;
    }

    .banner img{
        text-align: center;
        max-width: 100%;
        max-width: 500px;
        max-height: 500px;
    }

    .banner section{
        padding: 0px;
        
    } 
}