.banner {
    max-width: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
.banner img {
    max-width: 100%;
    max-width: 500px;
    width: 100%;
}

div p {
    font-size: 1.2em;
    text-align: center;
}

@media screen and (min-width: 700px){

    div {
        text-align: center;
    }

    div section{
        display: inline-block;
        max-width: 40%;
        text-align: center;
    }

    section{
        display: inline-block;
    }

    .banner img {
        max-width: 100%;
        max-width: 500px;
        width: 100%;
    }
    
    span{
        font-size: 30px;
    }

}